* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

  min-height: 100vh;
  background-color: #7159c1;
  overflow: hidden;
}

body,
button,
input {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #fff;
}

body main h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-align: center;
}

main div {
  position: relative;
}

div form {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;

  background-color: #fff;
  width: 325px;
  padding: 28px 24px;
  border-radius: 4px;

  overflow: hidden;
  animation: show-up 0.75s;
}

form.swipe-down {
  animation: swipe-down 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

form.negative-shake {
  animation: negative-shake 0.25s linear 2, show-up paused;
}

form label,
form input,
form button {
  animation: swipe-right 0.65s ease-out;
}

form label,
form input {
  display: block;
  animation-fill-mode: backwards;
}

form label {
  color: #5e4c99;
}

form input {
  font-size: 0.9rem;
  color: #7159c1;

  height: 36px;
  width: 100%;
  padding: 0 4px;
  margin: 0.5rem 0 1.5rem;

  border: 1px solid #c1d7ee;
  border-radius: 2px;
}

form label:nth-child(1),
form input:nth-child(2) {
  animation-delay: 0.15s;
}

form label:nth-child(3),
form input:nth-child(4) {
  animation-delay: 0.1s;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #7159c1;
  font-size: 1rem;
  padding: 0.7rem 3.25rem;
  margin: auto;

  border: none;
  border-radius: 25px;
  transition-duration: 0.2s;
}

form button:hover {
  filter: brightness(0.9);
}

main ul li {
  position: absolute;
  display: block;

  width: 40px;
  height: 40px;
  bottom: -40px;

  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  animation: swipe-up infinite alternate;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes swipe-up {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
  }
  to {
    transform: translateY(-900px) rotate(540deg);
  }
}

@keyframes swipe-right {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes swipe-down {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-25%) scale(1.1);
  }
  100% {
    transform: translateY(100vh) scale(0.6);
  }
}

@keyframes negative-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(5%);
  }
}
